h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  opacity: .85;
}

h4 span {
  color: black;
  font-weight: 700;
}

p.footer {
    font-size: 12px;
    text-align: center;
}

a.discrete {
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  border-bottom: solid 1px rgba(0, 0, 0, 0);
  padding-bottom: 5px;
  margin-left: auto;
  font-weight: 300;
  transition: all .3s ease;
  margin-top: 3px;
}

a.discrete:hover {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

button {
    -webkit-appearance: none;
    width: auto;
    min-width: 100px;
    border-radius: 24px;
    text-align: center;
    padding: 15px 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #b08bf8;
    color: #fff;
    font-size: 14px;
    margin-left: auto;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
    border: none;
    transition: all .3s ease;
    outline: 0;
  }

  button:hover {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    box-shadow: 0 2px 6px -1px rgba(182, 157, 230, 0.65);

  }
  button:hover:active {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
