.jumbotron {
  position: relative;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.pmodal {
  font-size: 14px;
}

.modal-dialog.modal-up{
  bottom: 0;
  opacity: 1;
}

.modal-header.modal-simawa {
    background-color: #ed3237;
    color: white;
}

.modal-header.modal-simpeg {
    background-color: #67c0a4;
    color: white;
}

.modal-header.modal-siwisu {
    background-color: #5d82a5;
    color: white;
}

.modal-header.modal-simas {
    background-color: #ffaa31;
    color: white;
}

.modal-header.modal-sipakar {
    background-color: #d24627;
    color: white;
}

.modal-header.modal-simpel {
    background-color: #673499;
    color: white;
}

.modal-header.modal-sipamas {
    background-color: #4d9ae3;
    color: white;
}

.modal-header.modal-spada {
    background-color: #0f9371;
    color: white;
}

.modal-header.modal-sipus {
    background-color: #0e5682;
    color: white;
}

.modal-backdrop.show {
    opacity: 1;
}
