* {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
}

.button-custom {
  -webkit-appearance: none;
  width: auto;
  min-width: 100px;
  border-radius: 24px;
  text-align: center;
  padding: 15px 40px;
  margin-top: 5px;
  background-color: #b08bf8;
  color: #fff;
  font-size: 14px;
  margin-left: auto;
  font-weight: 500;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
  border: none;
  transition: all .3s ease;
  outline: 0;
}
.button-custom:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 2px 6px -1px rgba(182, 157, 230, 0.65);
}
.button-custom:hover:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.carousel-content {
  padding: 5px;
  margin: 5px;
  font-size: 16px;
}

.start-custom {
  position: relative;
  margin-left: 20px;
}

[class*=tile-] {
  transform: scale(0.8);
}
.tiles-area {
  position: relative;

}
.tiles-group {
  position: relative;
  margin-left: 0px;
  margin-top: 5px;
}

@media all and (min-width: 768px) {
  .tiles-group {
    left: 0;
  }
  .tiles-group {
    margin-left: 0px;
  }
  .start-custom {
    position: relative;
    margin-left: 20px;
}
